Telegram Bot.json
{
  "name": "Telegram Bot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {
          "download": true
        }
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "d7d8bb33-abd8-4fe9-819c-23bde1f03fee",
      "name": "Telegram Trigger",
      "webhookId": "e1605703-80e4-4ee2-9ffb-95c0d8936cb6",
      "credentials": {
        "telegramApi": {
          "id": "sEaubf65pA7TG6tv",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=New appointment request received \n{{ $json.message.from.first_name }}\n{{ $json.message.text }}\nConfirm the appointment politely.\nAlways ask the user for name, date, time, gmail and phone no and add them to gogle sheets automatically.\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "031382f6-b58b-4c3f-8cfb-8f1d9012dfaa",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        176,
        208
      ],
      "id": "05a447ec-3a99-4aab-92c1-d398a56171e1",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "X99qCnO2ue0wm87e",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        560,
        0
      ],
      "id": "9eb8455e-ea52-40f3-8628-8ea3803712df",
      "name": "Send a text message",
      "webhookId": "07afbc11-829b-44d4-a038-bd4eb22c24e1",
      "credentials": {
        "telegramApi": {
          "id": "sEaubf65pA7TG6tv",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1NvhDQHCSuq0bfar8rI4xE9YQCye7LBYgt1Z3YQbD9n4",
          "mode": "list",
          "cachedResultName": "Telegram bot database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NvhDQHCSuq0bfar8rI4xE9YQCye7LBYgt1Z3YQbD9n4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NvhDQHCSuq0bfar8rI4xE9YQCye7LBYgt1Z3YQbD9n4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.message.chat.first_name }}",
            "Date ": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Date_', ``, 'string') }}",
            "Time ": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Time_', ``, 'string') }}",
            "Gmail": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Gmail', ``, 'string') }}"
          },
          "matchingColumns": [
            "Name"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date ",
              "displayName": "Date ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Time ",
              "displayName": "Time ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Gmail",
              "displayName": "Gmail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        576,
        208
      ],
      "id": "3fb18e0c-1946-43c4-8e9d-f121243ede1a",
      "name": "Append or update row in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RfXUuZxWnZW1b3WU",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "73a63452-c103-4218-a621-4172d9c506b5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5abe77c7b6257baa28593e33380bee429414f52f1fdafd99ed0f4fca2024fc85"
  },
  "id": "0dAXiek32ZF8XoFe2kqxt",
  "tags": []
}